@{
    ViewData["Title"] = "ManualSubmission";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>

    <div class="jumbotron">
        <h1>Manual Submission Page</h1>

        <p>When a scanner is down or a scan was missed. Use this page to manual submit scanner entries </p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Object Id</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Weight</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">TimeStamp</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div class="dropdown">
        <button class="btn btn-default orange-btn dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span>
            Object Type
        </button>
        <ul class="dropdown-menu list ">
            <li><a href="">Paint Can</a></li>
            <li><a href="">Oil</a></li>
            <li><a href="">Lead</a></li>
            <li><a href="">Gasoline</a></li>
            <li><a href="">Engine Cleaner</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Add Scanner</button>
    @*<div class="form-group">
            <label for="exampleFormControlSelect1">Object Type</label>
            <asp:DropDownList ID="Object_Type" runat="server" CssClass="form-control">
                <asp:ListItem>Paint Can</asp:ListItem>
                <asp:ListItem>Oil</asp:ListItem>
                <asp:ListItem>Gasoline</asp:ListItem>
                <asp:ListItem>Lead</asp:ListItem>
                <asp:ListItem>Engine Cleaner</asp:ListItem>
            </asp:DropDownList>
        </div>*@
    @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>*@
    @*<asp:Button ID="B1" runat="server" Text="Submit" Cssclass="btn btn-primary" OnClick="AddDataToService"></asp:Button>*@
</body>
</html>
