@{
        ViewData["Title"] = "ScannerManager";
}
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <h1>Scanner Manager Page</h1>

            <p>Add and manage sensors</p>
        </div>
        <div>
            <div>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Add Scanner</button>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Delete Scanner</button>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Get Info</button>
            </div>
            <div class="col-md-10" id="map">
            </div>
           
            <div class="flex-row my-4">
                <div id="alertDiv"></div>
                <div id="registeredSensorsCard" class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Status</th>
                                    <th scope="col">ScannerId</th>
                                    <th scope="col">ScannerType</th>
                                </tr>
                            </thead>
                            <tbody id="scannerTableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  @*end*@
        @*<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">Add Scanner</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal2">Manage Scanner</button>*@
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Scanner Name</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Scanner Type</label>
                            <div class="dropdown">
                                <button class="btn btn-default orange-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    Object Type
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu list ">
                                    <li><a href="">QR</a></li>
                                    <li><a href="">Weight</a></li>
                                    <li><a href="">RFID</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Scanners Avaible</label>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Scanner 1 TODO</a>
                                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">2</a>
                                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">3</a>
                                <a href="#" class="list-group-item list-group-item-action list-group-item-primary">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="container">
            <div class="btn-group">
                <button class="btn btn-primary btn-lg btn-block" runat="server" Text="Add Scanner"
                        OnClick="btnSubmit_Click"></button>
            </div>
        </div>
        <div class="container">
            <div class="btn-group">
                <button class="btn btn-primary btn-lg btn-block" runat="server" Text="Manage Scanners"
                        OnClick="btnSubmit_Click2"></button>
            </div>
        </div>*@


        <!-- Bootstrap Modal Dialog -->
        @*<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <asp:UpdatePanel ID="upModal" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                    <ContentTemplate>
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><asp:Label ID="lblModalTitle" runat="server" Text="Add Scanner"></asp:Label></h4>
                            </div>
                            <div class="modal-body">
                                <asp:Label ID="lblModalBody" runat="server"></asp:Label>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Scanner Name</label>
                                    <asp:TextBox runat="server" ID="ScanName" class="form-control"></asp:TextBox>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Scanner Type</label>
                                    <asp:DropDownList ID="Scanner_type" runat="server" CssClass="form-control">
                                        <asp:ListItem>QR</asp:ListItem>
                                        <asp:ListItem>Weight</asp:ListItem>
                                        <asp:ListItem>RFID</asp:ListItem>
                                    </asp:DropDownList>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <asp:Button ID="B3" runat="server" Text="Submit" Cssclass="btn btn-primary btn-lg btn-block" OnClick="AddScannerToDatabase" role="dialog" TabIndex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true"></asp:Button>
                                <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
        </div>*@
        @*<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <asp:UpdatePanel ID="UpdatePanel1" runat="server" ChildrenAsTriggers="false" UpdateMode="Conditional">
                    <ContentTemplate>
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><asp:Label ID="Label3" runat="server" Text="Manage Scanners"></asp:Label></h4>
                            </div>
                            <div class="modal-body">
                                <asp:Label ID="Label2" runat="server"></asp:Label>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Scanners Available</label>
                                    <asp:DropDownList ID="scannerList" runat="server" CssClass="form-control"></asp:DropDownList>
                                </div>
                                <%--<div class="form-group">
                                    <label for="exampleFormControlSelect3">Transaction List</label>
                                    <asp:DropDownList ID="TransactionList" runat="server" CssClass="form-control"></asp:DropDownList>
                                </div> --%>
                            </div>
                            <div class="modal-footer">
                                <asp:Button ID="Button1" runat="server" Text="Select" Cssclass="btn btn-primary btn-lg btn-block" OnClick="Manage" role="dialog" TabIndex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true"></asp:Button>
                                <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect3">Last Transaction Time</label>
            <asp:DropDownList ID="TransactionList" runat="server" CssClass="form-control">
            </asp:DropDownList>
        </div>*@



    </body>
</html>


